langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-google-genai
langchain-huggingface
python-dotenv
streamlit
faiss-cpu
nltk
plotly
pandas
apscheduler
beautifulsoup4
arxiv
transformers
Pillow
langdetect
